//Color Scheme

$app-white: #fff;
$app-isabelline: #ECECEC;
$app-lightgray: #d1d1d1;
$app-smokyblack: #0C0910;
$app-granitegray: #646266;
$app-quicksilver: #A6A5AB;

//Typography

//Font-family

$primary-font: 'Old Standard TT', serif;
$secondary-font: 'Raleway', sans-serif;

//Font-Weight

$bold: 400;
$regular: 700;

//Font-Size

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;


