.form-button {
    width: 100%;
    height: 50%;
    grid-area: form-button;
    padding: 30%;

&__text {
    font-family: $primary-font;
    font-size: $x-large;
    font-weight: $bold;
    transform: rotate(90deg);
    letter-spacing: none;
}
}

@media (max-width: 992px) {
    .form-button {
        width: 100%;
        height: 100%;
        grid-area: form-button;
        padding: 50%;
    
    }
}
@media (min-width: 993px) {
    .form-button {
        width: 100%;
        height: 100%;
        grid-area: form-button;
        padding: 50%;
    
    }
}