.hero-section {
    margin: 0;
    padding: 0;
    grid-area: hero-section;


&__img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0%;

}
}

@media (min-width: 993px) {
    .hero-section__img {
        width: 55vw;
        height: auto;
    }
}