.main__title {
    font-family: $primary-font;
    color: $app-smokyblack;
    font-weight: $bold;
    display: inline-block;
    text-align: left;
}
.main__text {
    font-family: $secondary-font;
    font-weight: $regular;
    font-size: $medium;
    color: $app-quicksilver;
}




