.section-form {
    background-color: $app-smokyblack;
    width: 100%;
    height: 100%;
    padding: 5%;
    grid-area: section-form;

&__title {
    color: $app-white;
    font-family: $primary-font;
    font-size: $xx-large;
}
&__subtitle {
    color: $app-white;
    font-family: $primary-font;
    font-size: $large;
}
}